.search {
    .search__input {
        .icon {
            margin-right: 1rem;
            transform: rotate(90deg);

            * {
                height: $form-element-height;
            }
        }
    }
}
